<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yibu.yibujudge.mapper.CodeTemplateMapper">
    <insert id="insert">
        INSERT INTO code_template (problem_id, language_id, template_code)
        VALUES (#{problemId}, #{languageId}, #{templateCode})
    </insert>
    <update id="updateCodeTemplate">
        update code_template
        <set>
            <if test="templateCode != null and templateCode != ''">
                template_code = #{templateCode},
            </if>
            <if test="languageId != null">
                language_id = #{languageId}
            </if>
        </set>
        where id = #{id}
    </update>
    <delete id="deleteByProblemIds">
        delete from code_template where problem_id in
        <foreach collection="problemIds" item="problemId" open="(" separator="," close=")">
            #{problemId}
        </foreach>
    </delete>
</mapper>