<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yibu.yibujudge.mapper.UserMapper">
    <insert id="insert">
        INSERT INTO user(id, username, password, nick_name, email, avatar, role, score, create_time, update_time)
        VALUES (#{id}, #{username}, #{password}, #{nickName}, #{email}, #{avatar}, #{role}, #{score}, #{createTime}, #{updateTime} )
    </insert>
    <update id="update">
        update `user`
        <set>
            <if test="nickName != null and nickName!= ''">
                nick_name = #{nickName},
            </if>
            <if test="password != null and password!= ''">
                password = #{password},
            </if>
            <if test="avatar != null and avatar != ''">
                avatar = #{avatar},
            </if>
            update_time = #{updateTime}
        </set>
    </update>
    <select id="getUserByIds" resultType="com.yibu.yibujudge.model.entity.User">
        SELECT * FROM user
        WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        ORDER BY
        <foreach collection="ids" item="id" open="FIELD(id," separator="," close=")">
            #{id}
        </foreach>;
    </select>
</mapper>